.App {
  text-align: center;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.palendrome-main {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.inputs-container {
  display: grid;
  grid-template-columns: 200px 100px;
  grid-column-gap: 10px;
}

.result-message {

}