html * {
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.palendrome-main {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr;
  gap: 10px;
}

h1 {
  font-size: 1.5rem;
}

.inputs-container {
  display: grid;
  grid-template-columns: 200px 100px;
  grid-column-gap: 10px;
}

.result-message {
  color: blue;
  padding-top: 20px;
  word-wrap: break-word;
}

.input-text {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.result-message.success {
  color: green;
}
.result-message.fail {
  color: red;
}
